body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:#ff9edf; 
  color: #222;
}

header, footer {
  background-color: #ff0080;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
}

#produtos, #cesto {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  flex: 1;
  min-width: 300px;
}

#cesto {
  display: none; 
  position: fixed; 
  top: 50px;
  right: 20px;
  width: 320px;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1000;
}

#cesto.mostrar {
  display: block; 
}

#produtos article, #produtos-selecionados article {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#produtos img, #produtos-selecionados img {
  max-width: 150px;
  border-radius: 5px;
}

button {
  background-color: #e70664;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #ff2c8f;
}

#total {
  font-weight: bold;
  text-align: right;
}
